---
version: 2
interactions:
    - id: 0
      request:
        host: api.3commas.io
        url: https://api.3commas.io/public/api/ver1/deals/2376446537/show
        method: GET
      response:
        body: "{\"from_currency_id\":0,\"to_currency_id\":0,\"id\":2376446537,\"type\":\"Deal\",\"bot_id\":16511317,\"max_safety_orders\":9,\"deal_has_error\":false,\"account_id\":33256512,\"active_safety_orders_count\":0,\"created_at\":\"2025-09-26T17:26:26.529Z\",\"updated_at\":\"2025-09-28T08:27:03.877Z\",\"closed_at\":null,\"finished?\":false,\"current_active_safety_orders_count\":0,\"current_active_safety_orders\":0,\"completed_safety_orders_count\":9,\"completed_manual_safety_orders_count\":0,\"cancellable?\":true,\"panic_sellable?\":true,\"trailing_enabled\":false,\"tsl_enabled\":false,\"stop_loss_timeout_enabled\":false,\"stop_loss_timeout_in_seconds\":0,\"active_manual_safety_orders\":0,\"pair\":\"USDT_DOGE\",\"status\":\"bought\",\"localized_status\":\"Active\",\"take_profit\":\"2.0\",\"take_profit_steps\":[],\"base_order_volume\":\"25.0\",\"safety_order_volume\":\"25.0\",\"safety_order_step_percentage\":\"0.21\",\"safety_order_calculation_mode\":\"base\",\"leverage_type\":\"not_specified\",\"leverage_custom_value\":null,\"bought_amount\":\"1094.0\",\"bought_volume\":\"251.20651556\",\"bought_average_price\":\"0.229622043473491773308957952468007313\",\"base_order_average_price\":\"0.23171148\",\"sold_amount\":\"0.0\",\"sold_volume\":\"0.0\",\"sold_average_price\":\"0\",\"take_profit_type\":\"total\",\"final_profit\":\"-2.82176894\",\"martingale_coefficient\":\"1.0\",\"martingale_volume_coefficient\":\"1.0\",\"martingale_step_coefficient\":\"1.0\",\"stop_loss_percentage\":\"5.0\",\"sl_to_breakeven_enabled\":false,\"sl_to_breakeven_data\":null,\"error_message\":null,\"profit_currency\":\"quote_currency\",\"stop_loss_type\":\"stop_loss\",\"safety_order_volume_type\":\"quote_currency\",\"base_order_volume_type\":\"quote_currency\",\"from_currency\":\"USDT\",\"to_currency\":\"DOGE\",\"final_profit_percentage\":\"0\",\"usd_final_profit\":\"-2.82\",\"actual_profit\":\"-0.62502788\",\"actual_usd_profit\":\"-0.62502788\",\"failed_message\":null,\"reserved_base_coin\":\"251.20651556\",\"reserved_second_coin\":\"1094.0\",\"trailing_deviation\":\"0.2\",\"trailing_max_price\":null,\"tsl_max_price\":null,\"strategy\":\"long\",\"last_known_position_info\":null,\"min_profit_percentage\":\"0.0\",\"min_profit_type\":null,\"close_strategy_list\":[],\"safety_strategy_list\":[{\"options\":{},\"strategy\":\"tv_custom_signal\"}],\"custom_safety_steps\":[],\"note\":null,\"add_fundable\":true,\"smart_trade_convertable\":true,\"bot_name\":\"Bot16511317 has signal\",\"account_name\":\"Demo Account 2080398\",\"market_type\":\"spot\",\"current_price\":\"0.22928\",\"take_profit_price\":\"0.23445\",\"stop_loss_price\":\"0.220125906\",\"actual_profit_percentage\":\"-0.15\",\"reserved_quote_funds\":\"0.0\",\"reserved_base_funds\":\"0.0\",\"orderbook_price_currency\":\"USDT\",\"crypto_widget\":{\"progressAccuracy\":2,\"TTPАctivated\":false,\"buyPrice\":\"0.229622043473491773308957952468007313\",\"currentPrice\":\"0.22928\",\"inverted\":false,\"stopLosses\":[[\"0.220125906\",false]],\"LP\":null,\"buySteps\":[],\"marks\":[{\"type\":\"tp\",\"label\":\"TP\",\"price\":\"0.23445\",\"position\":\"down\"},{\"type\":\"sl\",\"label\":\"SL\",\"price\":\"0.220125906\",\"position\":\"down\"}]},\"buy_steps\":[],\"bot_events\":[{\"message\":\"Placing averaging order (9 out of 9). Price: market Size: 25.0008 USDT (110.0 DOGE)\",\"created_at\":\"2025-09-28T08:27:03.515Z\"},{\"message\":\"Averaging order (9 out of 9) executed. Price: market Size: 25.0269019 USDT (110.0 DOGE) #lastAO \U0001F62C\",\"created_at\":\"2025-09-28T08:27:03.827Z\"},{\"message\":\"Cancelling TakeProfit trade. Price: 0.23469 USDT Size: 230.93496 USDT (984.0 DOGE)\",\"created_at\":\"2025-09-28T08:27:03.949Z\"},{\"message\":\"TakeProfit trade cancelled. Price: 0.2[...]
